*{
    margin:0px;
    padding:0px;
} 
    body {
        font-family: Arial, sans-serif;
        background-color: black;
        color:white;
    }
    .navbar {
        height:70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:transparent;
        padding: 10px; 
    }
    .logo {
        font-size: 40px;
        font-weight: bold;
        color: #00ff26;
    }
    .menu-item {
        margin-right: 25px;
        text-decoration: none;
        font-size: 15px;
        color: white;
    }
    .menu-item:hover {
        font-size:20px;
        color: greenyellow;
    }
    .search-bar {
        width:250px;
       font-size: large;
       font-family: Arial, Helvetica, sans-serif;
       font-weight:bold ;
    }
    input[name="textt"]{
        width:150px;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold ;
     }
    
    .btn{
        width:70px;
        font-size:17px;
        font-family: Arial, Helvetica, sans-serif;
       
    }
    .tabs {
        font-weight: bold;
        font-size: large;
        margin-top: 10px;;
        display: flex;
        justify-content: center;
        font-size: 20px;
        color:violet;
    }
    .tabs:hover{
        font-size:25px;
        color: greenyellow;
        transition-duration: 1.5s;
    }
    .tab-item {
        padding-left: 10px;
        padding-right: 10px;
    }
    /* colour and styling later on */

    .landing-sec{
        margin-top:10px;
        height:500px;
        background-image:url(land-sec.jpg);
        background-size: contain;
    }

    .main-sec{
        height:2800px;
        display:flex;
        justify-content: space-evenly;
        flex-wrap:wrap;
    }
    .genre{
        margin-top: 10px;
        font-size:20px;
        height: 30px;
        width:100%;
        
    }
    .box{
        height:300px;
        width:300px;
        background-color:rgb(176, 193, 149);
        padding:20px 0px 15px;
    }
    .box-img{
        height:250px;
        background-size: cover;
    }
    .box-content{
        margin-left: 10px;
        margin-right: 10px;
    }
    .foot-pane1{
        background-color:#37475a;
        color:white;
        height:50px;
        display:flex;
        justify-content: center;
        align-items:center;
        margin-top: 1px;
        font-size:0.85rem;
    }
    .foot-pane2{
        background-color:#222f3d;
        color:white;
        height:300px;
        display:flex;
        justify-content: space-evenly;
    }
    ul{
        margin-top:20px;
    }
    ul a{
        display:block;
        font-size: 0.85rem;
        margin-top: 10px;
        color:#dddddd
    }
    
    .foot-pane3{
        background-color: #222f3d;
        color:white;
        border-top: 0.5px solid white;
        height:68px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        background-image: url("logo.jpg"); 
        height:50px;
        width:113px;
        background-size:cover;
        margin-left: 20px;
    }
    .foot-pane4{
        height:76px;
        background-color: #0f1111;
        color:white;
        font-size: 0.7rem;
        text-align: center;
    }
    .pages{
        padding-top: 25px;
    }





    .game-card{
        border: 2px solid violet;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
        width: 25% ;
        height: 100px;
        font-size: 20px;
        flex-direction: row;
        margin-right: 20px;
        box-shadow: 0 0 10px violet;
    }

    .game-card:hover{
        height:120px;
        width:30%;
        border: 3px solid limegreen;
        transition-duration: 0.75s;
        color: limegreen;
        font-size: 25px;
    }

    .game-card img {
        width: 75px; /* Adjust size as needed */
        height: 75px;
        margin-right: 10px;
        margin-left: 10px;
        float: left;
    }

    .trending-back h1{
        margin-top: 20px;
        font-size: 40px;
    }
